<div style="display: flex; background-image: linear-gradient(71deg, rgba(0,0,0,0.788953081232493) 0%, rgba(0,6,6,0.08307072829131656) 67%, rgba(243,247,247,0.02984943977591037) 100%), url('https://images.unsplash.com/photo-1604671801908-6f0c6a092c05?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=MnwxfDB8MXxyYW5kb218MHx8c2hvZXN8fHx8fHwxNjM2ODY5NDEz&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600'); background-size: contain;"
      class="position-relative overflow-hidden text-left bg-light">
      <div class="col-md-8 p-lg-5 m-auto my-5">
          <span class="text-light"> The New Drop Site Martket Place</span>
          <h1 class="mb-3"> Fashion Driven by You </h1>
          <p class="lead text-white mb-4">Join the community of sneaker heads, shop, collaborate CREATE.</p>
          <div class="input-group input-group-lg">
              <form action="/results" method="POST" class="d-flex">
                  <input id="searchhMealsInput" type="text" name="searchhMealsInput" class="form-control mr-2 d-block"
                      aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
                  <button type="submit" id="searchhMeals" class="input-group-text bg-warning">Browse Market</button>
              </form>
          </div>
      </div>
      <div class="product-device box-shadow d-none d-md-block"></div>
      <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
  </div>
